Chapter04/flow.json
[{"id":"6ebaeada.914514","type":"mongodb out","z":"566dda6e.a99224","service":"_ext_","mongodb":"c4271448.3bd8e8","name":"Store in on premise MongoDB","collection":"translatedtweets","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":691.5,"y":526,"wires":[]},{"id":"deeb5b29.2114a8","type":"sentiment","z":"566dda6e.a99224","name":"GetSentiment","x":341.5,"y":337,"wires":[["ab1b327b.54e4d"]]},{"id":"a22f9acb.5dd068","type":"twitter in","z":"566dda6e.a99224","twitter":"","tags":"@USAelection, @narendramodi","user":"false","name":"GetTweets","topic":"tweets","x":86.5,"y":338,"wires":[["deeb5b29.2114a8"]]},{"id":"635d7723.9ca288","type":"watson-translate","z":"566dda6e.a99224","name":"Translate to French","action":"translate","basemodel":"ar-en","domain":"news","srclang":"en","destlang":"fr","password":"rKwyd2hV75VZ","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","x":608.5,"y":429,"wires":[["6ebaeada.914514"]]},{"id":"ab1b327b.54e4d","type":"switch","z":"566dda6e.a99224","name":"CheckSentiment","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":369.5,"y":431,"wires":[["635d7723.9ca288"]]},{"id":"c4271448.3bd8e8","type":"mongodb","z":"566dda6e.a99224","hostname":"cap-sg-prd-2.integration.ibmcloud.com","port":"15639","db":"mydb","name":"mydb"}]