Chapter09/flow.json
[{"id":"4fe8424b.b017bc","type":"mongodb in","z":"9cced79d.633128","service":"_ext_","mongodb":"a6129f6.f59ed6","name":"","collection":"translatedtweets","operation":"find","x":152.5,"y":551,"wires":[["a0658739.5f9a78"]]},{"id":"70853cf.f8f7ac4","type":"http in","z":"9cced79d.633128","name":"Get Analyzed Tweets","url":"/translatedtweets","method":"get","swaggerDoc":"","x":128,"y":397,"wires":[["37e9a445.c8165c"]]},{"id":"37e9a445.c8165c","type":"function","z":"9cced79d.633128","name":"Query MongoDB","func":"msg.limit=30;\nmsg.projection = {'_id' : 0,'payload':1};\nmsg.sort = {$natural:-1};\nreturn msg;","outputs":1,"noerr":0,"x":130.5,"y":475,"wires":[["4fe8424b.b017bc"]]},{"id":"c049796b.3fb688","type":"http response","z":"9cced79d.633128","name":"Send Augmented Results","x":819.5,"y":251,"wires":[]},{"id":"a0658739.5f9a78","type":"function","z":"9cced79d.633128","name":"Format Results as String","func":"var str=\"\";\nfor (var j = 1; j < msg.payload.length; j++){\nstr+=msg.payload[j].payload+\"~\";\n}\nmsg.payload=str;\nreturn msg;","outputs":1,"noerr":0,"x":398.5,"y":550,"wires":[["6cdb685.f932498"]]},{"id":"b0e84fc.f4f17b","type":"watson-tone-analyzer-v3","z":"9cced79d.633128","name":"Analyze Tone of each Tweet","tones":"social","sentences":"false","contentType":"false","x":437.5,"y":311,"wires":[["d4904757.2b6fb8"]]},{"id":"954863d3.6ab7a","type":"join","z":"9cced79d.633128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","timeout":"10","count":"","x":581.5,"y":157,"wires":[["b15ef86a.4ea108","7d9516e7.826ae8"]]},{"id":"d4904757.2b6fb8","type":"function","z":"9cced79d.633128","name":"Format Response","func":"var payload = msg.payload;\nvar str=msg.response.document_tone.tone_categories[0].tones;\nvar finalstr=\"\";\nfor(var i=0; i<str.length; i++){\nfinalstr+=str[i].tone_name+\" : \"+str[i].score+\", \";\n}\nfinalstr=finalstr.substring(0, finalstr.lastIndexOf(\",\"));\nmsg.payload=\"<tr><td width='60%' style='background-color: #AECD10; ><p><span  style='color: '#fff;' font-weight: bold; display: inline-block;  padding: 3px 10px; border-radius: 5px;'><blockquote><em>\"+payload+\"</em></blockquote></span></p></td><td width='40%' style='background-color: #CC9FC5;'> <p><span style='color: #000;'  display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;'><em>\"+finalstr+\"</em></span></p></tr>\";\nreturn msg;","outputs":1,"noerr":0,"x":420.5,"y":232,"wires":[["2cf19956.d30e66"]]},{"id":"6cdb685.f932498","type":"split","z":"9cced79d.633128","name":"Split the Tweets","splt":"~","x":400.5,"y":474,"wires":[["9959a495.66a658"]]},{"id":"2cf19956.d30e66","type":"delay","z":"9cced79d.633128","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.5,"y":158,"wires":[["954863d3.6ab7a"]]},{"id":"9959a495.66a658","type":"watson-translate","z":"9cced79d.633128","name":"Translate to English","action":"translate","basemodel":"ar-en","domain":"news","srclang":"fr","destlang":"en","password":"rKwyd2hV75VZ","custom":"","domainhidden":"news","srclanghidden":"fr","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","x":409.5,"y":391,"wires":[["b0e84fc.f4f17b"]]},{"id":"b15ef86a.4ea108","type":"openwhisk-trigger","z":"9cced79d.633128","name":"","namespace":"sreelathas@in.ibm.com_dev","trigger":"B5307_07_CloudantTrigger","service":"b69308d9.496cf8","x":806.5,"y":312,"wires":[]},{"id":"7d9516e7.826ae8","type":"template","z":"9cced79d.633128","name":"Format HTML Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:0px auto;}\n.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}\n.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}\n.tg .tg-huo9{font-size:15px;font-family:\"Lucida Console\", Monaco, monospace !important;;vertical-align:top}\n.tg .tg-fz6y{font-size:14px;font-family:\"Lucida Console\", Monaco, monospace !important;;vertical-align:top}\n.tg .tg-yw4l{vertical-align:top}\nth.tg-sort-header::-moz-selection { background:transparent; }th.tg-sort-header::selection      { background:transparent; }th.tg-sort-header { cursor:pointer; }table th.tg-sort-header:after {  content:'';  float:right;  margin-top:7px;  border-width:0 4px 4px;  border-style:solid;  border-color:#404040 transparent;  visibility:hidden;  }table th.tg-sort-header:hover:after {  visibility:visible;  }table th.tg-sort-desc:after,table th.tg-sort-asc:after,table th.tg-sort-asc:hover:after {  visibility:visible;  opacity:0.4;  }table th.tg-sort-desc:after {  border-bottom:none;  border-width:4px 4px 0;  }@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>\n<div class=\"tg-wrap\"><h2 style=\"color: #2e6c80;\">Tweets analyzed for their social tones:</h2>\n<table>\n</thead><table id=\"tg-FUkU8\" class=\"tg\">\n<thead><tr><td style='background-color: #33314B;'><center><h2><b><em><font color='#fff';>Tweets</font></em></b></h2></center></td><td style='background-color: #33314B;'><center><h2><b><em><font color='#fff';>Social Tones</font></em></b></h2></center></td></tr></thead>\n{{{payload}}}\n</table></div>\n<script type=\"text/javascript\" charset=\"utf-8\">var TgTableSort=window.TgTableSort||function(n,t){\"use strict\";function r(n,t){for(var e=[],o=n.childNodes,i=0;i<o.length;++i){var u=o[i];if(\".\"==t.substring(0,1)){var a=t.substring(1);f(u,a)&&e.push(u)}else u.nodeName.toLowerCase()==t&&e.push(u);var c=r(u,t);e=e.concat(c)}return e}function e(n,t){var e=[],o=r(n,\"tr\");return o.forEach(function(n){var o=r(n,\"td\");t>=0&&t<o.length&&e.push(o[t])}),e}function o(n){return n.textContent||n.innerText||\"\"}function i(n){return n.innerHTML||\"\"}function u(n,t){var r=e(n,t);return r.map(o)}function a(n,t){var r=e(n,t);return r.map(i)}function c(n){var t=n.className||\"\";return t.match(/\\S+/g)||[]}function f(n,t){return-1!=c(n).indexOf(t)}function s(n,t){f(n,t)||(n.className+=\" \"+t)}function d(n,t){if(f(n,t)){var r=c(n),e=r.indexOf(t);r.splice(e,1),n.className=r.join(\" \")}}function v(n){d(n,L),d(n,E)}function l(n,t,e){r(n,\".\"+E).map(v),r(n,\".\"+L).map(v),e==T?s(t,E):s(t,L)}function g(n){return function(t,r){var e=n*t.str.localeCompare(r.str);return 0==e&&(e=t.index-r.index),e}}function h(n){return function(t,r){var e=+t.str,o=+r.str;return e==o?t.index-r.index:n*(e-o)}}function m(n,t,r){var e=u(n,t),o=e.map(function(n,t){return{str:n,index:t}}),i=e&&-1==e.map(isNaN).indexOf(!0),a=i?h(r):g(r);return o.sort(a),o.map(function(n){return n.index})}function p(n,t,r,o){for(var i=f(o,E)?N:T,u=m(n,r,i),c=0;t>c;++c){var s=e(n,c),d=a(n,c);s.forEach(function(n,t){n.innerHTML=d[u[t]]})}l(n,o,i)}function x(n,t){var r=t.length;t.forEach(function(t,e){t.addEventListener(\"click\",function(){p(n,r,e,t)}),s(t,\"tg-sort-header\")})}var T=1,N=-1,E=\"tg-sort-asc\",L=\"tg-sort-desc\";return function(t){var e=n.getElementById(t),o=r(e,\"tr\"),i=o.length>0?r(o[0],\"td\"):[];0==i.length&&(i=r(o[0],\"th\"));for(var u=1;u<o.length;++u){var a=r(o[u],\"td\");if(a.length!=i.length)return}x(e,i)}}(document);document.addEventListener(\"DOMContentLoaded\",function(n){TgTableSort(\"tg-FUkU8\")});</script>","x":788.5,"y":156,"wires":[["c049796b.3fb688"]]},{"id":"a6129f6.f59ed6","type":"mongodb","z":"9cced79d.633128","hostname":"cap-sg-prd-2.integration.ibmcloud.com","port":"15639","db":"mydb","name":"mydb"},{"id":"b69308d9.496cf8","type":"openwhisk-service","z":"9cced79d.633128","name":"","api":"https://openwhisk.ng.bluemix.net/api/v1"}]